@import "tailwindcss";
@plugin "daisyui";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@theme {
  --color-primary1: #1DA678;
  --color-primary2: #17976A;
  --font-Primary: "Inter", sans-serif;
}
@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 10px #17976A, 0 0 20px #17976A, 0 0 30px #17976A;
  }
  50% {
    box-shadow: 0 0 20px #17976A, 0 0 30px #17976A, 0 0 40px #17976A;
  }
}

.animate-glow {
  animation: glow 2s infinite ease-in-out;
}
